#name of the folder for project placement

## -- ICECAST -- ##

# Name of the project for icecast server
PROJECT_NAME_ICECAST="radio"

# Login for admin frame
PROJECT_NAME_ICECAST_ADMIN="someradio.com"

# Limits for icecast server - max listeners and sources
LIMITS_CLIENTS="1000"
LIMITS_SOURCES="20"
LIMITS_MAX_BANDWIDTH="1000M"

# Authorization for icecast server
# admin
ADMIN_LOGIN="admin"
ADMIN_PASSWORD="admin"
# relay
RELAY_PASSWORD="relay"
#source
SOURCE_PASSWORD="source"
# port for icecast server
PORT_ICECAST="8000"

# Filling for the main mount
NAME_MAIN_MOUNT="radio"
STREAM_NAME="Radio"
STREAM_DESCRIPTION="Radio Description"
STREAM_GENRE="Music"
STREAM_URL="https://someradio.com"

# Filling for the fallback mount
NAME_FALLBACK_MOUNT="fallback"
FALLBACK_MOUNT_NAME="fallback"
FALLBACK_MOUNT_DESCRIPTION="Radio Description"
FALLBACK_MOUNT_GENRE="Music"

########################################################

# --- Settings for compose file --- ##

#name of the folder for project placement
PROJECT_NAME="radio"

# external port for icecast server
PORT_ICECAST_EXTERNAL="8000"

#IP address for project placement
IP_ADDRESS="172.29.10.10"

#IP address of the gateway
IP_ADDRESS_GATEWAY="172.29.10.1"

# Subnet for Docker (must include IP_ADDRESS and gateway)
SUBNET="172.29.10.0/24"


##############################################

# --- Settings for nginx --- ##

# Domain name for nginx server
DOMAIN_NAME="somedomain.com"

# Allowed IP addresses for nginx server
ALLOWED_IP_ADDRESSES="123.123.123.123"